# adapted from https://github.com/kylemcdonald/ofxFaceTracker/blob/master/.gitignore
*.cbp
*.sln
*.vcx*
*.vs*
*.workspace*
config.make
Makefile
*.xcodeproj
*.plist
*.xcconfig
*.suo

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace
icon.rc

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/
build/
!data/
addons/